.menu {
  position: relative;
  overflow: hidden;
  padding-top: 165px;
}
.menu h2 {
  padding-left: 10px;
  color: #111;
  font-size: 2em;
  font-weight: 300;
}
.menu-category span {
  color: rgba(133, 64, 8, 0.87);
  font-weight: 700;
  font-size: 1.5em;
}
.menu-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
}
.menu-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.menu-container::-webkit-scrollbar {
  display: none;
}
.menu-card {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
}
.menu-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
  border-radius: 50px;
}
.menu-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menu-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.dish-name {
  text-transform: uppercase;
}
.dish-discription {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  /* cursor: pointer; */
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}
