section {
  padding: 165px;
}
.row {
  position: relative;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.row .col50 {
  position: relative;
  width: 48%;
}
.row .col50 .imgBx {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}
.tittleText {
  color: #111;
  font-size: 2em;
  font-weight: 300;
}
.tittleText span {
  color: rgba(133, 64, 8, 0.87);
  font-weight: 700;
  font-size: 1.5em;
}
